@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.game{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.game:hover{
  opacity: 70%;
}
.game img{
  width: 80px;
  margin-bottom: 8px;
}
.game span{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  color: white;
}
.warn-game{
  padding: 20px 20px;
  position: fixed;
  bottom: 0;
}